.app_blue_theme {
  --bg-color: #f4f9fb;
  --inverted-bg-color: #05627d;
  --primary-color: #035337;
  --secondary-color: #0cabd7;
  --inverted-secondary-color: #f4f9fb;
  --inverted-primary-color: #0cabd7;
}