.app_dark_theme {
  --bg-color: #0a0a4f;
  --inverted-bg-color: #dddddf;
  --primary-color: #07b029;
  --secondary-color: #07da31;
  --inverted-primary-color: #0613a6;
  --inverted-secondary-color: #0738e6;
}